{% extends 'base.html.twig' %}

{% block title %}JeuVideo index{% endblock %}
{% block body %}

    <h1>Catalogue des jeux vidéo</h1>

    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Titre</th>
            <th>DateSortie</th>
            <th>Prix</th>
            <th>Editeur</th>
            <th>Genre</th>
            {# NOUVELLE COLONNE #}
            <th>Propriétaires</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for jeu_video in jeu_videos %}
            <tr>
                <td>{{ jeu_video.id }}</td>
                <td class="text-center" style="max-width: 80px;">
                    <img alt="Couverture du jeu" src="{{ asset('' ~ jeu_video.imageUrl) }}" class="img-fluid rounded" style="max-height: 50px;" />
                </td>
                <td>{{ jeu_video.titre }}</td>
                <td>{{ jeu_video.dateSortie ? jeu_video.dateSortie|date('d/m/Y') : '' }}</td>
                <td>{{ jeu_video.prix|number_format(2,',', ' ') }} €</td>
                <td>{{ jeu_video.editeur.nom }}</td>
                <td>{{ jeu_video.genre.nom }}</td>

                <td>
                    {% if jeu_video.collects is not empty %}
                        {% set proprietaires = [] %}

                        {% for collect in jeu_video.collects %}
                            {% if collect.utilisateur %}
                                {% set proprietaires = proprietaires|merge([collect.utilisateur.pseudo]) %}
                            {% endif %}
                        {% endfor %}

                        <span class="badge text-bg-success">{{ jeu_video.collects|length }}</span> :
                        {{ proprietaires|join(', ') }}

                    {% else %}
                        <span class="text-muted">Aucun</span>
                    {% endif %}
                </td>

                {# Colonne des actions #}
                <td>
                    <a href="{{ path('app_jeu_video_show', {'id': jeu_video.id}) }}" class="btn btn-info btn-sm">Consulter</a>
                    <a href="{{ path('app_jeu_video_edit', {'id': jeu_video.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_jeu_video_new') }}" class="btn btn-primary">Créer un nouveau jeu</a>
{% endblock %}
